<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

Categories: <br>
<ul>
    <% @post.categories.each do |category| %>
       <li><%= category.name %></li>
        <% end %>
</ul>

Comments: <br>
<ul>
    <% @post.comments.each do |comment| %>
       <li><%="#{comment.user.username} says: #{comment.content}"%></li>
        <% end %>
</ul>
Unique users:
<ul>
    <% @post.users.uniq.each do |user| %>
       <li><%= link_to user.username, user_path(user) %></li>
        <% end %>
</ul>

<%= form_for @post.comments.build do |f|%>
    <%= f.hidden_field :post_id %><br>

    <%= f.label :content, "New Comment:"%>
    <%= f.text_field :content %><br>

    <%= f.collection_select :user_id, User.all, :id, :username %><br>

    <%=  f.fields_for :user, User.new do |build_user|%>
        <%= build_user.label :username %>
        <%= build_user.text_field :username %>
        <%end%>

    <%= f.submit%>
    <% end %>
