<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

Categories: <br>
<ul>
    <% @post.categories.each do |category| %>
       <li><%= category.name %></li>
        <% end %>
</ul>

Comments: <br>
<ul>
    <% @post.comments.each do |comment| %>
       <li><%= comment.content %></li>
        <% end %>
</ul>

<ul>
    <% @post.users.uniq.each do |user| %>
       <li><%= link_to user.username, user_path(user) %></li>
        <% end %>
</ul>

